<ng-container *ngIf="hasTitle || isEditable">
  <div class="col-12 border-bottom mt-3 mb-3">
    <ng-container *ngIf="isEditable; else showTitle">
      <form>
        <input
          type="text"
          class="form-control form-control-lg bg-light border-0 outline-none p-0"
          placeholder="Title"
          [value]="title || ''"
        />
      </form>
    </ng-container>
    <ng-template #showTitle>
      <h5 class="text-secondary">{{ title }}</h5>
    </ng-template>
  </div>
</ng-container>
<ng-content></ng-content>
<ng-container *ngIf="isEditable">
  <div class="d-flex w-100 justify-content-center mt-4">
    <button type="button" class="btn btn-primary shadow font-weight-bold">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>Add Row
    </button>
  </div>
</ng-container>
