@import "../../../../../../variables.scss";
:host {
  display: block;
  &:hover {
    .card {
      border: 2px solid $grey-20 !important;

      fa-icon {
        color: $grey-30;
      }
    }
  }

  &.dragging {
    z-index: 1000 !important;
    .card {
      z-index: 1000 !important;
      border: 2px solid $info !important;
    }
  }
}
