@import "../../../../../../variables.scss";
:host {
  display: block;
  &:hover {
    border: 1px solid $grey-20 !important;
    fa-icon {
      color: $grey-30;
    }
  }

  &.dragging {
    .card {
      z-index: 1000 !important;
    }
  }
}
