@import "../../../../variables.scss";

:root {
  --grid-column-placeholder-height: #{$dashboard-view-element-height};
  --grid-column-dropzone-height: #{$dashboard-view-element-dropzone-height};
  --grid-column-height: calc(#{$dashboard-view-element-height} + 28px);
}

.dashboard__height {
  height: calc(100vh - 56px);
}

.dashboard-view-element__height {
  height: $dashboard-view-element-height;
}

.dashboard-recommendation-element__height {
  height: $dashboard-recommendation-element-height;
}

.dashboard-sidebar__width {
  width: 300px;
}

app-column-content-placeholder {
  ::ng-deep .card {
    width: 300px !important;
  }
}
