<ng-container *ngIf="dashboard$ | async as dashboard">
  <app-grid>
    <h2 class="my-4">
      {{ dashboard.title
      }}<button class="btn" type="edit" (click)="onToggleEdit()">
        ...
      </button>
    </h2>
    <app-row
      *ngFor="let row of rows(dashboard.rows); trackBy: trackById"
      [title]="row.title"
      [editable]="isEditable"
    >
      <app-column
        *ngFor="let column of columns(row.columns); trackBy: trackById"
        [editable]="isEditable"
        [config]="column"
        (changeSize)="onChangeSize(row.id, $event)"
      >
        <app-dashboard-view-element
          class="d-block dashboard-view-element__height"
          [editable]="isEditable"
        ></app-dashboard-view-element>
      </app-column>
    </app-row>
  </app-grid>
</ng-container>
