<ng-container *ngIf="dashboard$ | async as dashboard">
  <app-grid>
    <h2 class="my-4">
      {{ dashboard.title
      }}<button class="btn" type="edit" (click)="onToggleEdit()">
        ...
      </button>
    </h2>
    <app-row
      *ngFor="let row of rowsOf(dashboard); trackBy: trackByRowId"
      [title]="row.title"
      [editable]="isEditable"
      cdkDropListGroup
    >
      <app-column
        class="d-block app-column__height"
        *ngFor="let column of columnsOf(row)"
        [editable]="isEditable"
        [config]="column"
        (changeSize)="onChangeSize(row.id, $event)"
        cdkDropList
        (cdkDropListEntered)="onRowEnter($event)"
        (cdkDropListExited)="onRowExit($event)"
        (cdkDropListDropped)="onRowDrop(row.id, $event)"
        [cdkDropListData]="column"
      >
        <app-dashboard-view-element
          cdkDrag
          [cdkDragData]="column"
          class="d-block dashboard-view-element__height"
          [editable]="isEditable"
          [cdkDragDisabled]="!isEditable"
          cdkDragPreviewClass="dashboard-view-element-dragging"
          style="transform: translate3d(0, 0);"
        ></app-dashboard-view-element>
      </app-column>
    </app-row>
  </app-grid>
</ng-container>
