@import "../../../../variables.scss";

:host {
  --grid-column-height: calc(#{$dashboard-element-height} + 28px);
}

.dashboard-view-element__height {
  height: $dashboard-element-height;
}

.view-element-dragging {
  height: $dashboard-element-height;
}
