<ng-container *ngIf="grid; else noData">
  <app-container
    class="mb-5 d-block"
    cdkDropList
    (cdkDropListDropped)="onRowDrop($event)"
  >
    <h2 class="my-4">
      {{ grid.title
      }}<button class="btn" type="edit" (click)="onToggleEdit()">
        <fa-icon
          *ngIf="editable"
          class="text-secondary"
          [icon]="faPen"
        ></fa-icon>
      </button>
    </h2>
    <app-row
      *ngFor="let row of rowsOf(grid); trackBy: trackByRowId"
      class="bg-light"
      cdkDrag
      cdkDragLockAxis="y"
      cdkDropListGroup
      [row]="row"
      [editable]="isEditable"
      [cdkDragData]="row"
      [cdkDragDisabled]="!isEditable"
      (titleChanged)="onRowTitleChange($event)"
    >
      <app-column
        class="d-block"
        [ngClass]="{
          'app-column__height': isEditable
        }"
        *ngFor="let column of columnsOf(row)"
        [editable]="isEditable"
        [column]="column"
        cdkDropList
        (cdkDropListEntered)="onColumnEnter($event)"
        (cdkDropListExited)="onColumnExit($event)"
        (cdkDropListDropped)="onColumnDrop(row, $event)"
        [cdkDropListData]="column"
      >
        <div
          cdkDrag
          [cdkDragData]="column"
          [cdkDragDisabled]="!isEditable"
          cdkDragPreviewClass="view-element-dragging"
          class="d-block app-column-content-placeholder__height"
        >
          <ng-container *ngIf="isEditable; else showContent">
            <app-column-content-placeholder
              class="app-column-content-placeholder__height"
              [column]="column"
              (changeSize)="onChangeSize(row, $event)"
            ></app-column-content-placeholder>
          </ng-container>
          <ng-template #showContent>
            <ng-container
              [ngTemplateOutlet]="columnTemplate"
              [ngTemplateOutletContext]="{
                column: column,
                editable: isEditable,
                item: column.item
              }"
            >
            </ng-container>
          </ng-template>
        </div>
      </app-column>
    </app-row>
  </app-container>
</ng-container>
<ng-template #noData>
  <app-container class="mb-5 d-block">
    No Data...
  </app-container>
</ng-template>
