@import "../../../variables.scss";

.cdk-drop-list-receiving {
  animation: zoomout 500ms forwards;
}

.view-element-dragging {
  height: var(--grid-column-height);
  ::ng-deep .card {
    border: 2px solid $info;
    fa-icon {
      color: $info;
    }
  }
}

.grid-title__font {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.app-column__height {
  height: var(--grid-column-height);
}

.app-column-content-placeholder__height {
  height: var(--grid-column-placeholder-height);
}

.app-column-dropzone__height {
  height: var(--grid-column-dropzone-height);
}

app-column.app-column-show-as-drop-zone {
  border: 2px dashed $grey-50;
  border-radius: 8px;
  ::ng-deep * {
    visibility: hidden !important;
  }
  app-dashboard-view-element {
    visibility: hidden !important;
  }
  &:before {
    content: "+";
    position: absolute;
    font-size: 2.5em;
    color: $grey-30;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0;
    right: 0;
  }
}

.view-element-dragging {
  height: var(--grid-column-placeholder-height);
}

@keyframes zoomout {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.95, 0.95);
  }
}
