<ng-container *ngIf="grid; else noData">
  <app-container
    class="mb-5 d-block"
    cdkDropList
    (cdkDropListDropped)="onRowDrop($event)"
  >
    <div class="row mt-5 mb-5 border-bottom">
      <ng-container *ngIf="isEditable; else showTitle">
        <div class="col-12 d-inline-flex">
          <div class="mr-3 d-inline-flex align-items-center">
            <fa-icon class="text-grey-50 c-move" [icon]="faPen"></fa-icon>
          </div>
          <div class="flex-grow-1">
            <form [formGroup]="gridForm">
              <input
                type="text"
                class="form-control form-control-lg bg-light border-0 outline-none p-0 grid-title__font"
                placeholder="Title"
                formControlName="title"
              />
            </form>
          </div>
          <div class="ml-2 d-inline-flex align-items-center">
            <button class="btn" type="button" (click)="onToggleEdit(grid)">
              <fa-icon class="text-grey-50" [icon]="faEllipsisV"></fa-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #showTitle>
        <div class="col">
          <h3>{{ grid?.title }}</h3>
        </div>
        <div class="ml-2 d-inline-flex align-items-center">
          <button class="btn" type="button" (click)="onToggleEdit(grid)">
            <fa-icon class="text-grey-50" [icon]="faEllipsisV"></fa-icon>
          </button>
        </div>
      </ng-template>
    </div>
    <app-row
      *ngFor="let row of rowsOf(grid); trackBy: trackByRowId"
      class="bg-light"
      cdkDrag
      cdkDragLockAxis="y"
      cdkDropListGroup
      [row]="row"
      [editable]="isEditable"
      [deletable]="isAllowDeleteOnlyOnMultipleRows"
      [cdkDragData]="row"
      [cdkDragDisabled]="!isEditable"
      (titleChanged)="onRowTitleChanged($event)"
      (addedAfter)="onRowAddedAfer($event)"
      (deleted)="onRowDeleted($event)"
    >
      <app-column
        [id]="dropListIdOf(row, column)"
        class="d-block"
        [ngClass]="{
          'app-column__height': isEditable
        }"
        *ngFor="let column of columnsOf(row)"
        cdkDropList
        [editable]="isEditable"
        [column]="column"
        [cdkDropListData]="column"
        (cdkDropListEntered)="onColumnEnter($event)"
        (cdkDropListExited)="onColumnExit($event)"
        (cdkDropListDropped)="onColumnDrop(row, $event)"
        (titleChanged)="onColumnTitleChanged(row, $event)"
        (deleted)="onColumnDeleted(row, $event)"
      >
        <div
          cdkDrag
          [cdkDragData]="column"
          [cdkDragDisabled]="!isEditable"
          cdkDragPreviewClass="view-element-dragging"
          class="d-block app-column-content-placeholder__height"
        >
          <ng-container *ngIf="isEditable; else showContent">
            <app-column-content-placeholder
              class="app-column-content-placeholder__height"
              [column]="column"
              (changeSize)="onChangeSize(row, $event)"
            ></app-column-content-placeholder>
          </ng-container>
          <ng-template #showContent>
            <ng-container
              [ngTemplateOutlet]="columnTemplate"
              [ngTemplateOutletContext]="{
                column: column,
                editable: isEditable,
                item: column.item
              }"
            >
            </ng-container>
          </ng-template>
        </div>
      </app-column>
      <app-column-dropzone
        [id]="dropListIdForDropzoneOf(row)"
        cdkDropList
        class="app-column-dropzone__height"
        [cdkDropListData]="emptyColumn"
        [ngClass]="{
          'd-block': isEditable && !areColumnsAvailableIn(row),
          'd-none': !isEditable || areColumnsAvailableIn(row)
        }"
        (cdkDropListDropped)="onColumnDrop(row, $event)"
      ></app-column-dropzone>
    </app-row>
  </app-container>
</ng-container>
<ng-template #noData>
  <app-container class="mb-5 d-block">
    No Data...
  </app-container>
</ng-template>
