@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

/**
* Helpers
*/
.c-pointer {
  cursor: pointer;
}
.c-move {
  cursor: move;
}
.c-resize {
  cursor: col-resize;
}
.text-grey-100 {
  color: $grey-100;
}
.text-grey-90 {
  color: $grey-90;
}
.text-grey-80 {
  color: $grey-80;
}
.text-grey-70 {
  color: $grey-70;
}
.text-grey-60 {
  color: $grey-60;
}
.text-grey-50 {
  color: $grey-50;
}
.text-grey-40 {
  color: $grey-40;
}
.text-grey-30 {
  color: $grey-30;
}
.text-grey-20 {
  color: $grey-20;
}
.text-grey-10 {
  color: $grey-10;
}
.bg-grey-100 {
  background: $grey-100 !important;
}
.bg-grey-90 {
  background: $grey-90 !important;
}
.bg-grey-80 {
  background: $grey-80 !important;
}
.bg-grey-70 {
  background: $grey-70 !important;
}
.bg-grey-60 {
  background: $grey-60 !important;
}
.bg-grey-50 {
  background: $grey-50 !important;
}
.bg-grey-40 {
  background: $grey-40 !important;
}
.bg-grey-30 {
  background: $grey-30 !important;
}
.bg-grey-20 {
  background: $grey-20 !important;
}
.bg-grey-10 {
  background: $grey-10 !important;
}
.outline-none {
  outline: none !important;
  box-shadow: none !important;
}
.z-index-100 {
  z-index: 100 !important;
}
.z-index-200 {
  z-index: 200 !important;
}
.border-style-dashed {
  border-style: dashed !important;
}
/**
*
*/
.cdk-dragging {
  background: red;
}
