@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

.c-pointer {
  cursor: pointer;
}
.text-grey-100 {
  color: $grey-100;
}
.text-grey-90 {
  color: $grey-90;
}
.text-grey-80 {
  color: $grey-80;
}
.text-grey-70 {
  color: $grey-70;
}
.text-grey-60 {
  color: $grey-60;
}
.text-grey-50 {
  color: $grey-50;
}
.text-grey-40 {
  color: $grey-40;
}
.text-grey-30 {
  color: $grey-30;
}
.text-grey-20 {
  color: $grey-20;
}
.text-grey-10 {
  color: $grey-10;
}
.outline-none {
  outline: none;
}
