$grey-100: #8397af;
$grey-90: #90a2b7;
$grey-80: #9cacbf;
$grey-70: #a8b6c7;
$grey-60: #b5c1cf;
$grey-50: #c1cbd7;
$grey-40: #cdd5df;
$grey-30: #dae0e7;
$grey-20: #e6eaef;
$grey-10: #f3f5f7;
$dark-font-color: #1c1e20;
$base-font-color: #2a2d30;
$light-font-color: #595b5d;
$client-base-color: #4599ff;
$client-light-color: #4ea9fe;
$client-ultra-light-color: #e1f0ff;
$client-bright-color: #70d0ff;

/**
* Bootstrap overrides
*/
$primary: $client-base-color;
$light: $grey-10;
$info: $client-light-color;
$input-placeholder-color: $grey-50;
$body-color: $base-font-color;

/**
* Dashboard
*/
$dashboard-recommendation-element-height: 48px;
$dashboard-view-element-height: 200px;
$dashboard-view-element-dropzone-height: 64px;

/**
* Overview
*/
$overview-element-height: 64px;
